table{
	width: 100%;
	padding: 0% 10%;
	margin-bottom: 5%;
	border: 1px solid gray;
}
th{
	padding-top: 20px;
}
tr td{
	padding: 5px;
	text-align: left;
}
input[type="text"]{
	padding: 0px 25px;
	width: 60%;
	height: 30px;
	border: 1px solid gray;
	border-radius: 5px;
}
input[type='submit']{
	width: 20%;
	height: 10%;
	padding: 10px;
	color: #fff;
	background-color: #0098cb;
	border: 0px;
	border-radius: 25px;
	cursor: pointer;
	display: block;
	margin: 0px auto;
	margin-top: 0px;
}

input[type="submit"]:hover{
	background-color: #00becb;
}